<div class="container">
    <div class="row">
        <div class="col-lg-2 col-sm-6">
            <div class="circle-tile">
                <a href="#">
                    <div class="circle-tile-heading dark-blue">
                        <i class="fa fa-users fa-fw fa-3x"></i>
                    </div>
                </a>
                <div class="circle-tile-content dark-blue">
                    <div class="circle-tile-description text-faded">
                        Posts
                    </div>
                    <div class="circle-tile-number text-faded">
                        {{ $ctrl.posts.length}}
                        <span id="sparklineA"></span>
                    </div>
                    <a ui-sref="post" class="circle-tile-footer">More Info <i class="fa fa-chevron-circle-right"></i></a>
                </div>
            </div>
        </div>

        <div class="col-lg-2 col-sm-6">
            <div class="circle-tile">
                <a href="#">
                    <div class="circle-tile-heading orange">
                        <i class="fa fa-tasks fa-fw fa-3x"></i>
                    </div>
                </a>
                <div class="circle-tile-content orange">
                    <div class="circle-tile-description text-faded">
                        Categories
                    </div>
                    <div class="circle-tile-number text-faded">
                        {{ $ctrl.categories.length}}
                        <span id="sparklineA"></span>
                    </div>
                    <a ui-sref="category" class="circle-tile-footer">More Info <i class="fa fa-chevron-circle-right"></i></a>
                </div>
            </div>
        </div>


        <div class="col-lg-2 col-sm-6">
            <div class="circle-tile">
                <a href="#">
                    <div class="circle-tile-heading red">
                        <i class="fa fa-comment fa-fw fa-3x"></i>
                    </div>
                </a>
                <div class="circle-tile-content red">
                    <div class="circle-tile-description text-faded">
                        Comments
                    </div>
                    <div class="circle-tile-number text-faded">
                        {{ $ctrl.comments.length}}
                        <span id="sparklineA"></span>
                    </div>
                    <a ui-sref="comment" class="circle-tile-footer">More Info <i class="fa fa-chevron-circle-right"></i></a>
                </div>
            </div>
        </div>

    </div>




</div>