<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1 class="bright_color">Categories</h1>
                    <p>     <button class="btn btn-bright btn-xs " ng-click="$ctrl.initCategory()">Create</button></p>
                </div>
                <div class="panel-body">

                    <div class="table-responsive">

                        <table class="table table-bordered text-center table-striped" ng-if="$ctrl.categories.length">
                            <tr>
                                <th style="width: 5%">No.</th>
                                <th>Name</th>
                                <th style="width: 25%">Action</th>
                            </tr>
                            <tr ng-repeat="(index, category) in $ctrl.categories">
                                <td>
                                    {{ index + 1 }}
                                </td>
                                <td>{{ category.title }}</td>

                                <td>
                                    <button class="btn btn-success btn-xs" ng-click="$ctrl.initEdit(index)">Edit</button>
                                    <button class="btn btn-danger btn-xs" ng-click="$ctrl.deleteCategory(index)" >Delete</button>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div  ng-if="$ctrl.categories.length == 0 " class="alert alert-primary" role="alert">
                        No Categories Found
                    </div>

                </div>
            </div>
        </div>
    </div>




    <div class="modal fade" tabindex="-1" role="dialog" id="add_new_category">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">

                    <h4 class="modal-title">Add Category</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">

                    <div class="alert alert-danger" ng-if="$ctrl.errors.length > 0">
                        <ul>
                            <li ng-repeat="error in $ctrl.errors">@{{ error }}</li>
                        </ul>
                    </div>

                    <div class="form-group">
                        <label for="name">Title</label>
                        <input type="text" name="title" class="form-control" ng-model="$ctrl.category.title">
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-bright" ng-click="$ctrl.addCategory()">Submit</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->


    <div class="modal fade" tabindex="-1" role="dialog" id="edit_category">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Update Category</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>

                </div>
                <div class="modal-body">

                    <div class="alert alert-danger" ng-if="$ctrl.errors.length > 0">
                        <ul>
                            <li ng-repeat="error in $ctrl.errors">@{{ error }}</li>
                        </ul>
                    </div>

                    <div class="form-group">
                        <label for="name">Title</label>
                        <input type="text" name="title" class="form-control" ng-model="$ctrl.edit_category.title">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-bright" ng-click="$ctrl.updateCategory()">Submit</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

</div>